# Información de este .ipynb
- Objetivos:
    - Incorporar variables relacionadas con precios para segmentar productos y tiendas.
    - Generar insights para estrategias de pricing diferenciadas.

# Carga de librerias

En este segundo .ipynb vamos a centrarnos en clusterizar los productos.

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import KMeans

ModuleNotFoundError: No module named 'KMeans'

In [50]:
sales_wprice = pd.read_csv('/Users/yeraysouto/Desktop/TFM/BASES_DE_DATOS/data_dsmarket/sales_wprice.csv')

# Clustering

##  Clustering de productos:

- Identificar grupos según rango de precios, comportamiento de ventas y estacionalidad.
    - Ejemplo: "Productos premium con alta variabilidad en ventas" o "Productos de bajo costo con alta rotación".

In [16]:
sales_wprice

,item,category,department,store,city,Qsale,date,yearweek,event,weekday,unit_price,total_venta
0,ACCESORIES_1_008,ACCESORIES,ACCESORIES_1,Greenwich_Village,New York,12,2011-01-29,201105,Regular Day,6,0.6118,7.3416
1,ACCESORIES_1_009,ACCESORIES,ACCESORIES_1,Greenwich_Village,New York,2,2011-01-29,201105,Regular Day,6,2.0748,4.1496
2,ACCESORIES_1_015,ACCESORIES,ACCESORIES_1,Greenwich_Village,New York,4,2011-01-29,201105,Regular Day,6,0.9310,3.7240
3,ACCESORIES_1_016,ACCESORIES,ACCESORIES_1,Greenwich_Village,New York,5,2011-01-29,201105,Regular Day,6,0.9310,4.6550
4,ACCESORIES_1_022,ACCESORIES,ACCESORIES_1,Greenwich_Village,New York,2,2011-01-29,201105,Regular Day,6,9.1238,18.2476
...,...,...,...,...,...,...,...,...,...,...,...,...
18550271,SUPERMARKET_3_819,SUPERMARKET,SUPERMARKET_3,Queen_Village,Philadelphia,2,2016-04-24,201617,Regular Day,7,2.3760,4.7520
18550272,SUPERMARKET_3_820,SUPERMARKET,SUPERMARKET_3,Queen_Village,Philadelphia,1,2016-04-24,201617,Regular Day,7,2.3760,2.3760
18550273,SUPERMARKET_3_822,SUPERMARKET,SUPERMARKET_3,Queen_Village,Philadelphia,1,2016-04-24,201617,Regular Day,7,4.7760,4.7760
18550274,SUPERMARKET_3_823,SUPERMARKET,SUPERMARKET_3,Queen_Village,Philadelphia,1,2016-04-24,201617,Regular Day,7,3.5760,3.5760
18550275,SUPERMARKET_3_826,SUPERMARKET,SUPERMARKET_3,Queen_Village,Philadelphia,3,2016-04-24,201617,Regular Day,7,1.5360,4.6080

### Prueba y error

Ahora procedemos a unir los items para poder visualizar

In [40]:
# Calcular el precio promedio y la variabilidad (desviación estándar) por producto
precio_stats = sales_wprice.groupby("item").agg(
    precio_promedio=("unit_price", "mean"),
    variabilidad_precio=("unit_price", "std"),
    total_ventas=("total_venta", "sum"),
    ventas_diarias_x=("total_venta", "mean")
).reset_index()

# Incorporar datos estacionales (e.g., ventas por mes o trimestre)
ventas_estacionales = sales_wprice.groupby(["item", "weekday"]).agg(
    ventas_diarias=("total_venta", "sum")
).reset_index()

# Unificar los datos en un DataFrame
df_productos = precio_stats.merge(ventas_estacionales, on="item", how="left")
df_productos

,item,precio_promedio,variabilidad_precio,total_ventas,ventas_diarias_x,weekday,ventas_diarias_y
0,ACCESORIES_1_001,11.006745,0.145075,45037.7634,15.318967,1,6272.9184
1,ACCESORIES_1_001,11.006745,0.145075,45037.7634,15.318967,2,6239.0034
2,ACCESORIES_1_001,11.006745,0.145075,45037.7634,15.318967,3,5808.9878
3,ACCESORIES_1_001,11.006745,0.145075,45037.7634,15.318967,4,5275.5248
4,ACCESORIES_1_001,11.006745,0.145075,45037.7634,15.318967,5,6455.5274
...,...,...,...,...,...,...,...
21338,SUPERMARKET_3_827,1.199798,0.011019,13641.6000,4.600877,3,1586.4000
21339,SUPERMARKET_3_827,1.199798,0.011019,13641.6000,4.600877,4,1659.6000
21340,SUPERMARKET_3_827,1.199798,0.011019,13641.6000,4.600877,5,2102.4000
21341,SUPERMARKET_3_827,1.199798,0.011019,13641.6000,4.600877,6,2467.2000
21342,SUPERMARKET_3_827,1.199798,0.011019,13641.6000,4.600877,7,2419.2000

Me doy cuenta que alomejor me estoy saltando unos pasos y que para eso primero debemos identificar que productos nos parecen útiles para analizar.

In [49]:
sales_wprice["unit_price"].describe()

In [43]:
# Método del codo
inertia = []
for k in range(1, 10):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(df_cluster_scaled)
    inertia.append(kmeans.inertia_)

# Graficar el codo
plt.plot(range(1, 10), inertia, marker='o')
plt.title("Método del Codo")
plt.xlabel("Número de Clusters")
plt.ylabel("Inercia")
plt.show()

NameError: name 'KMeans' is not defined